#chiTiet{
    width: 80%;
    margin: auto;
    justify-content:center;
    align-items:center;
}

#voucher{
    justify-content:center;
    align-items:center;
    margin: auto;
    width:fit-content;
    border: 1px solid black;
    padding: 10px;
    border-radius: 8px;
}

#codeVoucher{
    font-weight: bold;
    border:1px solid black;
    border-radius: 5px;
    padding: 10px;
}